# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.dipb?
codegentemp
CortexM0
*.nick
*.log
*.nick
*.cyfit
*.rpt
*_timing.html
Generated_Source/*

